/* General styles */
* {
  font-family: 'JetBrainsMonoNL Nerd Font';
  font-size: 16px;
}

.bar {
  padding-right: 5px;
}
.bar .widget{
  background: #bdae93;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 2px;
}
.bar .widget .label{
  color: #242424;
  font-weight: bold;
}
.bar .widget:hover{
  background: #fbf1c7;
}

.label{
  padding: 2px 5px;
  border-radius: 5px;
}



.media-widget .thumbnail{

}
.media-widget .label{

}
.media-btn {
  color: #242424;
  padding-right: 12px;
  font-weight: bold;
}

.media-btn {
  background: transparent;
}

.media-btn:hover {
  color: #656766;
}

.media-btn.shuffle.active {
  
}


.ws-btn:hover {
  background: #fbf1c7;
}
.ws-btn {
  padding: 5px 10px;
  background: #bdae93;
  margin: 2px;
  border-radius: 5px;
  color: #242424;
  font-weight: bold;
}
.ws-btn.populated{
  background: #fbf1c7;
}
.ws-btn.active {
  background: #fbf1c7;
  height: 32px;
  border-bottom: 1px solid #242424;
}


.battery-widget .label.status-full,
.battery-widget .label.status-charging {
  color: #5f924d;
}
.battery-widget .label.status-critical {
  color: #d15142;
}
.battery-widget .label.status-low {
  color: #df8a45;
}
.battery-widget .label.status-medium {
  color: #e2b345;
}
.battery-widget .label.status-high {
  color: #b7b85a;
}


.dropdown-button {
  color: #242424;
  width: 30px;
  border-radius: 5px;

}
.dropdown-button::menu-indicator {
  height: 0;
  width: 5px;
}


